[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "Reddit To Video"
version = "0.1.0"
description = "A tool to create videos from Reddit posts"
authors = [
    { name="Marley Mulvin Broome", email="marley.developer@gmail.com" }
]
readme = "readme.md"
requires-python = ">=3.9"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
]

[project.urls]
"Homepage" = "https://github.com/Marley-Mulvin-Broome/reddit-to-video"


[tool.pytest.ini_options]
pythonpath = "src"
addopts = "--import-mode=importlib"
